.header {
    
}
.header__title {
    padding: 96px 0 77px;
    color: #212429;
    font-size: 50px;
    line-height: 64px;
    font-weight: 500;
}

@media (max-width: 375px) {
    .header__toggle-burger-menu{
        position: absolute;
        top: 20px;
        left: 16px;
        width: 24px;
        height: 24px;
    }
}