.tabs {
    
}
.tabs__input {
    position: absolute;
    width: 0;
    height: 0;
    transform: translateY(-100vh);
}
.tabs__scroller {
    display: flex;
    gap: 40px;
}
.tabs__label{
    height: 37px;
    cursor: pointer;
    color: var(--black);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.tabs__content {
}
.tabs__content_complex {
}
.tabs__content_simple {
}