/* Стилизация кнопки */

.button {
    height: 48px;
    padding: 0 65.5px;
    border-radius: 8px;
    color: var(--white);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    transition: background-color 200ms ease-out;
}
.button:active{
    transform: translateY(1px);
    transition: transform 200ms linear;
}
.button:disabled{
    opacity: 0.5;
    pointer-events: none;
}

.button_primary{
    background-color: var(--primary);
    
}
.button_primary:hover{
    background-color: #2342C0;
    
}
.button_primary:disabled{
    background: var(--primary);
}

.button_secondary{
    background-color: var(--secondary);
    
}
.button_secondary:hover{
    background-color: #5028C6;
}
.button_secondary:disabled{
    background: var(--secondary);
}

.button_altermate{
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
    box-sizing: border-box;
    transition: border 200ms ease-out;
}
.button_altermate:hover{
    border: 1px solid var(--black);
}
.button_altermate:disabled{
    border: 1px solid var(--grey-3);
    opacity: 0.3;
}
