.histogram {
    padding: 16px 24px 24px 26px;
    box-sizing: border-box;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}
.histogram__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
}
.histogram__title {
    margin-bottom: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}
.histogram__orders {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}
.histogram__link {
    display: inline-block;
    margin: 3px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-blue);
}
.histogram__chart {
    height: 50px;
    display: flex;
    align-items: end;
    flex-wrap: nowrap;
}
.histogram__column {
    margin: 0 1px 0;
    flex-basis: 9px;
    flex-grow: 1;
    background-color: var(--light-blue);
}
.histogram__column_small {
    height: 22%;
}
.histogram__column_small-medium {
    height: 44%;
}
.histogram__column_medium {
    height: 60%;
}
.histogram__column_medium-large {
    height: 70%;
}
.histogram__column_large {
    height: 100%;
}