.accordion {

    &_preview &__item{
        pointer-events: none;
        padding: 5%;
    }
    &_preview &__summary {
        font-size: 14px;
    }
    &_preview &__text {
        font-size: 12px;
    }

    &__item{
        position: relative;
        margin: 0 0 8px;
        padding: 24px 32px;
        border: 1px solid $grey-3;
        border-radius: 8px;

        &:last-child{
            margin: 0;
        }
    }
    &__item[open] &__svg {
        transform: rotate(180deg);
    }
    &__summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include text(400, 16px, 24px);
        color: $black;

        &::marker {
            content: "";
        }
    }
    &__text {
        padding: 16px 0 8px;
        @include text(400, 16px, 24px);
        color: $grey-4;
    }
    &__icon {
        @include size(18px, 10px);
    }
    &__svg{
        fill: $svg-bg;
    }
}