.avatar {
    @include size(102px, 102px);

    &_preview {
        width: 200px;
        height: 200px;
    }
    &__img {
        @include size(100%, 100%);
        border-radius: 50%;
        object-fit: cover;
    }
}