.calendar {
    width: 100%;
    max-width: 300px;
    padding: 28px 26px 32px;
    background: $white;
    border: 1px solid $grey-3;
    border-radius: 8px;

    &_preview{
        padding: 5%;
        max-width: 200px;

        & .calendar__title {
            font-size: 14px;
            margin-bottom: 2%;
        }
        & .calendar__item {
            font-size: 9px;

            &_day {
                font-size: 9px;
            }
        }
    }
    &__title {
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
        font-family: 'Inter';
        @include text(600, 20px, 24px);
        color: #334D6E;
    }
    &__wrapper {
        padding-bottom: 100%;
        position: relative;
    }
    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Source Sans Pro';
        @include text(400, 16px, 20px);
        color: $black-2;
        
        &_day {
            font-family: 'Inter';
            @include text(400, 14px, 20px);
            color: #90A0B7;
        }
        &_dedicated {
            background-color: rgba(160, 177, 245, 0.2);
            color: $black-2;
        }
        &_selected {
            background-color: $light-blue;
            color: $white;
        }
    }
}