.tabs {
    & .content__line {
        @media (max-width: 375px) {
            margin-bottom: 22px;
        }
    }
    &__input {
        position: absolute;
        @include size(0, 0);
        transform: translateY(-100vh);
        
        &#html-tab:checked ~ .tabs__scroller .tabs__label_left::after{
            content: '';
        }
        &#html-tab:checked ~ .tabs__scroller .tabs__label_left{
            color: $black;
        }
        &#html-tab:checked ~ .tabs__code_html{
            display: block;
        }

        &#css-tab:checked ~ .tabs__scroller .tabs__label_rigth::after{
            content: '';
        }
        &#css-tab:checked ~ .tabs__scroller .tabs__label_rigth{
            color: $black;
        }
        &#css-tab:checked ~ .tabs__code_css{
            display: block;
        }
    }
    &__scroller {
        display: flex;
        gap: 40px;
        margin: 0 0 0 48px;

        @media (max-width: 375px) {
            margin-left: 16px;
        }
    }
    &__label{
        position: relative;
        height: 37px;
        cursor: pointer;
        color: $grey-3;
        font-family: Inter;
        @include text(400, 16px, 24px);
        text-transform: uppercase;
        
        &::after{    
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 5px;
            @include size(100%, 5px);
            background-color: $black;
        }
    }
    &__line {
        height: 1px;
        margin-bottom: 50px;
        background-color: $grey-2;
    }
    &__code {
        margin: 0 15px 0 42px;
        display: none;
        overflow-x: auto;
    }
    &__code-text{
        display: flex;
    }
    &__text {
        color: $black;        
        font-family: Inter;
        @include text(400, 22px, 24px);
    }
}