$white: #ffffff;
$black: #212429;
$black-2: #334D6E;
$pink: #F784AD;
$purple: #7048E8;
$light-purple: #A0B1F5;
$blue: #374FC7;
$blue-2: #4263EB;
$light-blue: #4263EB;
$red: #F03D3E;
$red-2: #D84910;
$grey-1: #F8F9FA;
$grey-2: #DDE2E5;
$grey-3: #ACB5BD;
$grey-4: #495057;
$grey-5: #F9FAFC;

$error: $red;
$success: $blue;

$primary: $blue;
$secondary: $purple;

$main-bg: $white;
$svg-bg: $black;

@mixin text($fw: false, $fsz: false, $lh: false){
    @if ($fw){
        font-weight: $fw;
    }
    @if ($fsz){
        font-size: $fsz;
    }
    @if ($lh){
        line-height: $lh;
    }
}

@mixin size($w: false, $h: false){
    @if ($w){
        width: $w;
    }
    @if ($h){
        height: $h;
    }
}

@import '../scss/fonts';
@import '../../assets/css/normalize.css';
@import '../scss/page';
@import '../scss/header';
@import '../scss/footer';
@import '../scss/accordion';
@import '../scss/avatar';
@import '../scss/button';
@import '../scss/calendar';
@import '../scss/checkbox';
@import '../scss/radio';
@import '../scss/toggler';
@import '../scss/tooltip';
@import '../scss/modal';
@import '../scss/histogram';
@import '../scss/skeleton';
@import '../scss/burger-menu';
@import '../scss/sidebar';
@import '../scss/section';
@import '../scss/tabs';
@import '../scss/main';
@import '../scss/card';
@import '../scss/preview';
@import '../scss/container';
@import '../scss/input';



html[data-theme-dark]{
    $main-bg: $black;
    $basic-bg: $grey-4;
    $secondary-bg: $grey-1;
    $secondary-basic-bg: $grey-3;
    $secondary-active-bg: $grey-2;
    $main-font-color: #ffffff75;
    $primary-font-color: $secondary-active-bg;
    $active-font-color: $red-2;
    $secondary-font-color: $grey-3;
    $svg-bg: $secondary-bg;

    .card{
        background-color: $main-bg;
        &__name{
            color: $main-font-color;
        }
        &__text{
            color: $main-font-color;
        }
    }
    .header{
        background-color: $main-bg;

        &__title{
            color: $main-font-color;
        }
        &__svg{
            fill: $svg-bg;
        }
    }
    .tabs{
        &__input#html-tab:checked ~ .tabs__menu .tabs__label_1{
            color: $primary-font-color;
        }
        &__input#html-tab:hover ~ .tabs__menu .tabs__label_1{
            color: $primary-font-color;
        }
        &__input#css-tab:checked ~ .tabs__menu .tabs__label_2{
            color: $primary-font-color;
        }
        &__input#css-tab:hover ~ .tabs__menu .tabs__label_2{
            color: $primary-font-color;
        }
        &__input#all-tab:checked ~ .tabs__menu .tabs__label_1{
            color: $primary-font-color;
        }
        &__input#all-tab:hover ~ .tabs__menu .tabs__label_1{
            color: $primary-font-color;
        }
        &__input#atoms-tab:checked ~ .tabs__menu .tabs__label_2{
            color: $primary-font-color;
        }
        &__input#atoms-tab:hover ~ .tabs__menu .tabs__label_2{
            color: $primary-font-color;
        }
        &__input#molecules-tab:checked ~ .tabs__menu .tabs__label_3{
            color: $primary-font-color;
        }
        &__input#molecules-tab:hover ~ .tabs__menu .tabs__label_3{
            color: $primary-font-color;
        }
        &__input#organisms-tab:checked ~ .tabs__menu .tabs__label_4{
            color: $primary-font-color;
        }
        &__input#organisms-tab:hover ~ .tabs__menu .tabs__label_4{
            color: $primary-font-color;
        }
        &__menu{
            background-color: $main-bg;
        }
        &__label{
            color: $main-font-color;
        }
        &__label::after{
            background-color: $secondary-bg;
        }
        &__line{
            background-color: $secondary-bg;
        }
        &__content{
            background-color: $basic-bg;
        }
        &__code-text{
            color: $main-font-color;
        }
    }
    .preview{
        background-color: $basic-bg;
    }
    .histogram{
        background-color: $main-bg;

        &__title{
            color: $main-font-color;
        }
        &__orders{
            color: $main-font-color;
        }
    }
    .calendar{
        background-color: $main-bg;

        &__title{
            color: $main-font-color;
        }
        &__item{
            color: $main-font-color;

            &_day{
                color: $secondary-font-color;
            }
        }
    }
    .modal{
        &__window{
            background-color: $main-bg;
        }
        &__title{
            color: $main-font-color;
        }
        &__text{
            color: $main-font-color;
        }
    }
    .accordion{
        background-color: $main-bg;

        &__summary{
            color: $main-font-color;
        }
        &__text{
            color: $main-font-color;
        }
        &__svg{
            fill: $svg-bg;
        }
    }
    .skeleton{
        background-color: $main-bg;
    }
    .footer{
        background-color: $main-bg;

        &__subtitle{
            color: $main-font-color;
        }
        &__text{
            color: $main-font-color;
        }
    }
    .page{
        &__grid{
            background-color: $basic-bg;
            & .header{
                background-color: transparent;
            }
        }
    }
    .main{
        &__grid{
            background-color: $basic-bg;
        }
    }
    .content{
        background-color: $main-bg;        
    }
    .sidebar{
        &__title{
            color: $main-font-color;
        }
        &__link{
            color: $main-font-color;
            &:visited{
                color: $active-font-color;
            }
        }
    }
    .burger-menu{
        background-color: $main-bg;
        &__title{
            color: $main-font-color;
        }
        &__link{
            color: $main-font-color;
        }
        &__svg{
            @media (max-width: 375px){
                fill: $svg-bg;            
            }
        }
    }
}

* {
    font-family: 'Inter' ,'Roboto', sans-serif;
}

html, body{min-height: 100%;}
