$white: #ffffff;
$black: #212429;
$black-2: #334D6E;
$pink: #F784AD;
$purple: #7048E8;
$light-purple: #A0B1F5;
$blue: #374FC7;
$blue-2: #4263EB;
$light-blue: #4263EB;
$red: #F03D3E;
$red-2: #D84910;
$grey-1: #F8F9FA;
$grey-2: #DDE2E5;
$grey-3: #ACB5BD;
$grey-4: #495057;
$grey-5: #F9FAFC;
$grey-6: #90A0B7;

$error: $red;
$success: $blue;

$primary: $blue;
$secondary: $purple;

$main-bg: $white;
$basic-bg: $grey-5;
$alternate-bg: $basic-bg;
$primary-font-color: $black;
$secondary-bg: $black;
$svg-bg: $black;
$main-font-color: $black;
$secondary-basic-bg: $grey-3;
$secondary-active-bg: $grey-2;
$alternate-font-color: $black-2;
$secondary-font-color: $grey-6;
$active-font-color: $red-2;
$main-font-color-text: $grey-4;
$secondary-font-color-text: $grey-3;

@mixin text($fw: false, $fsz: false, $lh: false){
    @if ($fw){
        font-weight: $fw;
    }
    @if ($fsz){
        font-size: $fsz;
    }
    @if ($lh){
        line-height: $lh;
    }
}

@mixin size($w: false, $h: false){
    @if ($w){
        width: $w;
    }
    @if ($h){
        height: $h;
    }
}

@import '../scss/fonts';
@import '../../assets/css/normalize.css';
@import '../scss/page';
@import '../scss/header';
@import '../scss/footer';
@import '../scss/accordion';
@import '../scss/avatar';
@import '../scss/button';
@import '../scss/calendar';
@import '../scss/checkbox';
@import '../scss/radio';
@import '../scss/toggler';
@import '../scss/tooltip';
@import '../scss/modal';
@import '../scss/histogram';
@import '../scss/skeleton';
@import '../scss/burger-menu';
@import '../scss/sidebar';
@import '../scss/section';
@import '../scss/tabs';
@import '../scss/main';
@import '../scss/card';
@import '../scss/preview';
@import '../scss/container';
@import '../scss/input';



html[data-theme-dark]{
    $main-bg: $black;
    $basic-bg: $grey-4;
    $secondary-bg: $grey-1;
    $secondary-basic-bg: $grey-3;
    $secondary-active-bg: $grey-2;
    $alternate-bg: transparent;
    $main-font-color: #ffffff75;
    $primary-font-color: $secondary-active-bg;
    $active-font-color: $red-2;
    $secondary-font-color: $grey-3;
    $alternate-font-color: $main-font-color;
    $main-font-color-text: $main-font-color;
    $secondary-font-color-text: $main-font-color;
    $svg-bg: $secondary-bg;
}

* {
    font-family: 'Inter' ,'Roboto', sans-serif;
}

html, body{min-height: 100%;}
