@import '../fonts/fonts.css';
@import '../../assets/css/normalize.css';
:root {
    --white: #ffffff;
    --black: #212429;
    --black-2: #334D6E;
    --pink: #F784AD;
    --purple: #7048E8;
    --light-purple: #A0B1F5;
    --blue: #374FC7;
    --light-blue: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Inter', 'Source Sans Pro', 'Roboto', sans-serif;
}
