.skeleton {
    padding: 24px 40px 32px 24px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;
}
.skeleton__top{
    display: flex;
    align-items: center;
    margin: 0 0 24px;
}
.skeleton__avatar{
    width: 64px;
    height: 64px;
    margin: 0 16px 0 0;
    background: var(--grey-2);
    border-radius: 50%;
}
.skeleton__column{
    display: grid;
    row-gap: 8px;
    width: 100%;
}
.skeleton__column_small{
    width: 55%;
}
.skeleton__column_large{
    width: 80%;
}
.skeleton__line{
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
}
.skeleton__bottom{
    display: grid;
    row-gap: 8px;
}