.tooltip {
    display: inline-block;
    position: relative;
}
.tooltip__trigger {
    cursor: pointer;
}
.tooltip__svg{
    width: 24px;
    height: 24px;
}
.tooltip__bubble {
    display: none;
    width: 129px;
    position: absolute;
    padding: 13px 0 8px;
    border-radius: 10px;
    background: #4263EB;
    box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
    color: var(--grey-2);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    bottom: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
}
.tooltip__bubble:after{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #4263EB;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.tooltip__trigger:hover ~ .tooltip__bubble{
    display: block;
}