.footer {

}
.footer__subtitle {
    margin: 71px 0 32px;
    text-align: center;
    color: #212429;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
}
.footer__text {
    max-width: 640px;
    margin: 0 auto 136px;
    text-align: center;
    color: #212429;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}