.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 38px 1fr 1fr;
    padding: 32px 0;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}
.content__title {
    margin: 0 0 0 48px;
    color: var(--grey-4);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
}
.content__component {
    margin: 58px 0 64px 48px;
}
.content__tab {
    margin: 0 0 0 48px;
}
.content__code {
    margin: 0 0 0 42px;
}
@media (max-width: 375px) {
    .content{
        grid-template-rows: 26px 1fr 1fr;
        padding: 32px 0 15px 0;
        background-color: var(--white);
        box-shadow: none;
        border-radius: 0;
    }
    .content__title {
        margin-left: 16px;
        font-size: 20px;
        line-height: 26px;
    }
    .content__component {
        margin: 32px 0 52px 16px;
    }
    .content__tab {
        margin-left: 16px;
    }
    .content__code {
        margin: 0 0 0 8px;
    }
}