.main__grid{
    display: grid;
    gap: 56px;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 1fr;
}
@media (max-width: 375px) {
    .main__grid{
        gap: 0;
        grid-template-columns: 1fr;
    }
}