.img{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 2560px) {
    .img{
        background-image: url("../02-background-image/public/forest_2560.jpg");
    }
}
@media (max-width: 1024px) {
    .img{
        background-image: url("../02-background-image/public/forest_1024.jpg");
    }
}
@media (max-width: 768px) {
    .img{
        background-image: url("../02-background-image/public/forest_768.jpg");
    }
}
@media (max-width: 400px) {
    .img{
        background-image: url("../02-background-image/public/forest_400.jpg");
    }
}