.entry-field{
    display: block;
    position: relative;
}
.field-input {
    width: 350px;
    height: 56px;
    padding: 0 50px 0 24px;
    box-sizing: border-box;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.entry-field__icon{
    position: absolute;
    opacity: 0;
    top: 16px;
    right: 16px;
}
.entry-field__wrapper{
    width: 350px;
    position: relative;
}
.field-input::placeholder {
    color: var(--grey-2);
}

.field-input:focus{
    border: 1px solid var(--light-blue);
    outline: none;
}

.entry-field_success > .entry-field__wrapper .entry-field__icon {
    opacity: 1;
}
.entry-field_success > .entry-field__wrapper .field-input {
    border: 1px solid var(--grey-2);
    outline: none;
}
.entry-field_invalid > .entry-field__wrapper .entry-field__icon {
    opacity: 1;
}
.entry-field_invalid > .entry-field__wrapper .field-input {
    border: 1px solid var(--red);
    outline: none;
}